.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1.25rem;
}

.main {
  width: 100%;
  min-height: 100vh;
  margin-top: 3rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.heroSection {
  display: flex;
  flex-direction: column;
}

.trendingSection {
  display: flex;
  flex-direction: column;
}

@media (min-width: 375px) {
  .main {
    height: 100vh;
  }
}
